.wrapper {
	display: flex;
}

.label {
	margin-right: 5px;
}

.select {
	background: none;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	outline: none;
	padding: 2px 10px 2px 2px;
}

.option {
	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
}
