@import "../../../../app/styles/variables/global.scss";

.sidebar {
  background: var(--inverted-bg-color);
  height: calc(100vh - $navbar-height);
  position: relative;
  transition: width ease-in-out 0.3s;
  width: 300px;
}

.collapsed {
  width: 80px;
}

.switchers {
  bottom: 20px;
  display: flex;
  left: 20px;
  position: absolute;
}
