.avatar {
	border-radius: 50%;
	margin: 0 auto 15px;
	max-height: 200px;
	width: auto;
}

.avatarWrapper {
	width: 100%;
}

.title {
	margin-bottom: 20px;
}

.block {
	margin-bottom: 16px;
}

.sceletonAvatar {
	margin: 0 auto 15px;
}

.sceletonTitle {
	margin-bottom: 20px;
}

.sceletonItem {
	margin-bottom: 15px;
}
