.app_theme_dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #fefefe;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0374d1;
  --inverted-secondary-color: #c98404;
  --icon-changed-theme: #0115c6;
}
