.app_theme_green {
  --bg-color: #0fab9d;
  --inverted-bg-color: #f4fbfa;
  --primary-color: #094b45;
  --secondary-color: #0b8333;
  --inverted-primary-color: #0374d1;
  --inverted-secondary-color: #c98404;
  --icon-changed-theme: #0115c6;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fff;
}
