.link {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.icon {
  color: var(--inverted-secondary-color);
  margin-right: 10px;
}

.collapsed {
  .item {
    height: 0;
    opacity: 0;
    width: 0;
  }
}
